[Unit]
Description=Vless.Hysteria watchdog
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/vless-hysteria/watchdog.sh
